@font-face {
    font-family: 'Norce';
    src: url('./fonts/Norse-Bold.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');



:root {
    --accent-clr: #596D48;
    --background-clr-muted: #F9FAFB;
    --background-clr: #FFFFFF;
    --font-clr-muted:#1F2937;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    background: var(--background-clr-muted)
}

.picture-container {
    background-image: url('pictures/green-leaf.avif');
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-size: cover;
    position: relative;
    min-height: 300px;

}

.odin-band {
    position: absolute;
    width: 100%;
    top: 20%;
    overflow: hidden;
}

.picture-text {
    width: 100%;
    text-align: center;
    font-size: 80px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--background-clr);
    display: flex;
    justify-content: center;
    align-items: center;

}

.TOP-logo {
    height: 10rem;
    color: var(--background-clr-muted);
}

.TOP-name {
    object-position: center;
    font-family: Norce;
    font-size: 120px;
}

.main-section {
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    width: 70%;
    height: calc(20% + 10rem);

   
    margin-left: 40px;
    padding-top: 5%;

    overflow: hidden;
}

.form-head {
    font-size: 2rem;
    
    font-weight: 600;
    margin: 20px 0;
}

.main-form {
    box-shadow: 3px 2px 8px #888888;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
}

form {
    margin-left: 40px;
}